:root {
  /* Typography */
  --font-poppins: "Poppins", sans-serif;

  /* Colors */
  --violet: #a64bf4;
  --button-gradient: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  --black: #333;
  --dark-grey: #666;
  --grey: #adadad;
  --white: #fff;
}

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input {
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Login Screen Styling */
.login {
  background-color: var(--white);
  padding: 3rem;
}
